ul {
  display: inline-flex;
  /*flex-direction: column;*/
  /*flex-wrap: wrap-reverse;*/
  flex-flow: row wrap;
  justify-content: center;
  border: 1px solid red;
  list-style: none;
  background-color: #e8e8e9;
  padding: 0;

}

li {
  width: 100px;
  height: 100px;
  background-color: #8cacea;
  margin: 8px;
  padding: 4px;
}
