html,
   body {
     height: 100%;
   }

body {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  margin: 0;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 0.9em;
}

main {
  flex: 1 0 auto;
  display: flex;
}

aside {
  flex: 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  font-size: .9em;
}

footer {
  flex: 0 0 90px;
  padding: 10px;
  color: #FFF;
  background-color: rgba(61, 100, 158, .9);
}
